# Task 1

In [23]:
#1.Moving avg seq n-k+1 k=window size n=no:of elements
import pandas as pd
data=pd.DataFrame([3,5,7,2,8,10,11,65,72,81,99,100,150])
n=data.size
k=3
def moving_avg(data,k):
    print(*[(data[i:i+k].apply(sum)[0])/k for i in range((data.size)-k+1)])
moving_avg(data,k)

5.0 4.666666666666667 5.666666666666667 6.666666666666667 9.666666666666666 28.666666666666668 49.333333333333336 72.66666666666667 84.0 93.33333333333333 116.33333333333333

# Task 2

In [24]:
#1.How-to-count-distance-to-the-previous-zero
#For each value, count the difference back to the previous zero (or the start of the Series,
#whichever is closer)
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
print(df)
def step_count():
    i=-1
    r=[]
    for j in df['X'].tolist():
        if j!=0:
            i=i+1
            r.append(i)
        else:
            i=0
            r.append(i)
    return r
step_count()

   X
0  7
1  2
2  0
3  3
4  4
5  2
6  5
7  0
8  3
9  4

[0, 1, 0, 1, 2, 3, 4, 0, 1, 2]

In [26]:
#2.Create Date Time Index that contains each business day of 2015 and use it to index series of random numbers
import numpy as np
dti = pd.date_range(start='1/1/2015',end='31/12/2015',freq='B')
dti.shape
s = pd.Series(np.random.rand(len(dti)),index=dti)
s

2015-01-01    0.375668
2015-01-02    0.889545
2015-01-05    0.358121
2015-01-06    0.129811
2015-01-07    0.653494
2015-01-08    0.433049
2015-01-09    0.761171
2015-01-12    0.946655
2015-01-13    0.872953
2015-01-14    0.752737
2015-01-15    0.917273
2015-01-16    0.989346
2015-01-19    0.650949
2015-01-20    0.490677
2015-01-21    0.727651
2015-01-22    0.125075
2015-01-23    0.352891
2015-01-26    0.453042
2015-01-27    0.099659
2015-01-28    0.008750
2015-01-29    0.820936
2015-01-30    0.016706
2015-02-02    0.842906
2015-02-03    0.012630
2015-02-04    0.278087
2015-02-05    0.399188
2015-02-06    0.054454
2015-02-09    0.220676
2015-02-10    0.327732
2015-02-11    0.367722
                ...
2015-11-20    0.262611
2015-11-23    0.227921
2015-11-24    0.565404
2015-11-25    0.575835
2015-11-26    0.713090
2015-11-27    0.601693
2015-11-30    0.066143
2015-12-01    0.718062
2015-12-02    0.151416
2015-12-03    0.422130
2015-12-04    0.873151
2015-12-07    0.997008
2015-12-08    0.053132
2015-12-09    0.687502
2015-12-10    0.806381
2015-12-11    0.423312
2015-12-14    0.499714
2015-12-15    0.174133
2015-12-16    0.226868
2015-12-17    0.970128
2015-12-18    0.956353
2015-12-21    0.178283
2015-12-22    0.755913
2015-12-23    0.243353
2015-12-24    0.383692
2015-12-25    0.426972
2015-12-28    0.094964
2015-12-29    0.421044
2015-12-30    0.246890
2015-12-31    0.981376
Freq: B, Length: 261, dtype: float64

In [27]:
#3.Find the sum of the values in s for every Wednesday.
s[dti.weekday==2].sum()

25.16213247551687

In [28]:
#4.Average for each Calendar Month
s.resample('M').mean()

2015-01-31    0.537553
2015-02-28    0.443084
2015-03-31    0.443928
2015-04-30    0.477795
2015-05-31    0.468900
2015-06-30    0.444308
2015-07-31    0.481727
2015-08-31    0.410686
2015-09-30    0.555077
2015-10-31    0.547560
2015-11-30    0.496658
2015-12-31    0.508338
Freq: M, dtype: float64

In [29]:
#5.For each group of four consecutive calendar months in s, find the date on which the highest value occurred.
s.groupby(pd.TimeGrouper('4M')).max()

C:\Users\karnati\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)

2015-01-31    0.989346
2015-05-31    0.971633
2015-09-30    0.979440
2016-01-31    0.997008
dtype: float64